[submodule "CaloChallenge"]
	path = CaloChallenge
	url = git@github.com:OzAmram/homepage.git
[submodule "HGCalShowers"]
	path = HGCalShowers
	url = https://github.com/OzAmram/HGCalShowers
[submodule "CMSHGCaloChallenge"]
	path = CMSHGCaloChallenge
	url = git@github.com:OzAmram/CMSHGCaloChallenge.git
